html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* áttetsző sötét réteg a videó fölött */
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding-top: 10vh;
  max-width: 700px;
}

.flag {
  width: 20px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
}